@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:300italic,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prata:regular&display=swap");
/*------------------- Обнуление стилей---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 16px;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 24px;
}
@media (max-width: 1200px) {
  .header__container {
    gap: 22px;
  }
}
.header__top {
  display: flex;
  padding: 24px 0;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 539.98px) {
  .header__top {
    flex-wrap: wrap;
  }
}
.header__data {
  display: flex;
}
@media (max-width: 1200px) {
  .header__data {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.header__logo {
  text-align: center;
}
.header__title-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .header__title-mobile {
    display: block;
  }
}
.header__subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.27em;
  color: #909090;
  text-align: center;
}
.header__block-registration ul {
  display: flex;
  gap: 21px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
@media (max-width: 1200px) {
  .header__block-registration ul {
    flex-wrap: wrap;
  }
}
.header__enter {
  position: relative;
}
@media (max-width: 1200px) {
  .header__enter {
    display: none;
  }
}
.header__enter:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 11px;
  background: #303030;
  position: absolute;
  top: 2px;
  right: -10px;
}
.header__enter a {
  color: #303030;
  text-transform: capitalize;
}
.header__icons {
  width: 96%;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background: #f8f8f8;
  padding: 25px 50px;
  align-items: center;
}
@media (max-width: 1230px) {
  .header__bottom {
    gap: 8px;
    padding: 18px 35px;
    flex-direction: row-reverse;
  }
}
@media (max-width: 539.98px) {
  .header__bottom {
    padding: 16px 22px;
  }
}
.header__search {
  position: relative;
}
.header__search::before {
  content: "";
  background: url("../img/icons/search.svg") 0 0/contain no-repeat;
  width: 12px;
  height: 12px;
  top: 7px;
  left: 0px;
  position: absolute;
}
.header__search::after {
  content: "";
  width: 1px;
  height: 76px;
  top: -25px;
  left: -24px;
  position: absolute;
  background: #f0f0f0;
}
@media (max-width: 1230px) {
  .header__search::after {
    width: 0;
  }
}
.header__input {
  padding: 5px;
  padding-left: 20px;
  outline: none;
  background: #f8f8f8;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #a2a2a2;
}

.enter a,
.reg a {
  transition: all 0.3s ease-in 0s;
}
.enter a:hover,
.reg a:hover {
  color: #909090;
}

.top__phone {
  color: #303030;
  padding-left: 30px;
  position: relative;
}
@media (max-width: 1200px) {
  .top__phone {
    display: none;
  }
}
.top__phone::before {
  content: "";
  background: url("../img/icons/phone.svg") 0 0/contain no-repeat;
  width: 12px;
  height: 12px;
  top: 1px;
  left: 3px;
  position: absolute;
}
.top__phone:hover {
  cursor: pointer;
  transition: all 0.4s ease-in 0s;
}
.top__phone:hover::before {
  background: url("../img/icons/phone-late.svg") 0 0/contain no-repeat;
}
.top__phone-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .top__phone-mobile {
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .icons {
    position: fixed;
    bottom: 25px;
    z-index: 200;
    background: #d9d9d9;
    padding: 20px;
  }
}
.icons__main {
  display: flex;
  align-self: flex-end;
  position: relative;
}
.icons__shart:hover, .icons__bag:hover {
  background: #f8f8f8;
}
.icons__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  left: 13px;
  background: #e46942;
  color: #ffffff;
  padding: 5px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
}

.nav__list {
  display: flex;
  gap: 60px;
}
@media (max-width: 1200px) {
  .nav__list {
    flex-direction: column;
  }
}
.nav__link a {
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
  transition: all 0.3s ease-in 0s;
}
.nav__link a:hover {
  color: #909090;
}
@media (max-width: 1200px) {
  .nav__link a {
    font-size: 18px;
    color: #f0f0f0;
    z-index: 10;
  }
}
.nav__list-mobile {
  display: none;
}
@media (max-width: 1200px) {
  .nav__list-mobile {
    border-top: 2px solid #f0f0f0;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
}
@media (max-width: 1200px) {
  .nav__link-mobile a {
    font-size: 28px;
    color: #f0f0f0;
    display: block;
  }
}
@media (max-width: 1200px) {
  .nav__link-mobile-phone {
    display: flex;
    color: #f8f8f8;
  }
}

@media (max-width: 1200px) {
  .enter-mobile a,
  .reg-mobile a {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
  }
}

@media (max-width: 1200px) {
  .enter-mobile a {
    color: #f0f0f0;
  }
}

.titles {
  font-family: "Prata";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .titles {
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 20px;
  }
}

.selected {
  position: relative;
}

.selected::after {
  content: "";
  position: absolute;
}

.selected::after {
  background: url("../img/other-icon/selected.svg") 0 0/contain no-repeat;
  top: 15px;
  right: 1px;
  width: 7px;
  height: 14px;
}

.slider {
  background: #f8f8f8;
  position: relative;
}
.slider__container {
  margin-bottom: 120px;
}
@media (max-width: 767.98px) {
  .slider__container {
    margin-bottom: 70px;
  }
}
.slider__content {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .slider__content {
    flex-direction: column-reverse;
    padding: 24px;
  }
}
@media (max-width: 539.98px) {
  .slider__content {
    padding: 18px;
  }
}
.slider__block-left {
  padding-left: 86px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1200px) {
  .slider__block-left {
    padding-left: 70px;
  }
}
@media (max-width: 539.98px) {
  .slider__block-left {
    padding-left: 0px;
  }
}
.slider__title {
  font-family: "Prata";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .slider__title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 25px;
  }
}
@media (max-width: 539.98px) {
  .slider__title {
    font-size: 16px;
    margin-bottom: 18px;
  }
}
.slider__subtitle {
  font-family: "Prata";
  font-weight: 400;
  line-height: 1;
  color: #303030;
  margin-bottom: 54px;
  font-size: 50px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .slider__subtitle {
    margin-bottom: 46px;
    font-size: 42px;
    line-height: 1.1;
  }
}
@media (max-width: 1023.98px) {
  .slider__subtitle {
    margin-bottom: 40px;
    font-size: 36px;
  }
}
@media (max-width: 539.98px) {
  .slider__subtitle {
    font-size: 22px;
  }
}
.slider__button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #303030;
  padding: 20px 56px;
  cursor: pointer;
  max-width: 200px;
  transition: all 0.3s ease-in 0s;
}
.slider__button:hover {
  background: #505050;
}
.slider__button:active {
  background: #000;
}
@media (max-width: 1023.98px) {
  .slider__button {
    padding: 16px 48px;
  }
}
@media (max-width: 539.98px) {
  .slider__button {
    padding: 14px 30px;
  }
}
.slider__btn-prev {
  top: 42.5%;
  left: 24px;
}
@media (max-width: 539.98px) {
  .slider__btn-prev {
    left: 10px;
  }
}
.slider__btn-next {
  top: 50%;
  right: 24px;
}
@media (max-width: 767.98px) {
  .slider__btn-next {
    right: 10px;
    top: 46%;
  }
}
@media (max-width: 539.98px) {
  .slider__btn-next {
    top: 46%;
  }
}

.btn-slide-prev {
  background: url("../img/icons/btn-next.svg") 0 0/contain no-repeat;
  transform: rotate(180deg);
}
.btn-slide-prev:hover {
  background: url("../img/icons/btn-next-hover.svg") 0 0/contain no-repeat;
}
.btn-slide-prev:active {
  background: url("../img/icons/btn-next-active.svg") 0 0/contain no-repeat;
}

.btn-slide-next {
  transform: translateY(-50%);
  background: url("../img/icons/btn-next.svg") 0 0/contain no-repeat;
}
.btn-slide-next:hover {
  background: url("../img/icons/btn-next-hover.svg") 0 0/contain no-repeat;
}
.btn-slide-next:active {
  background: url("../img/icons/btn-next-active.svg") 0 0/contain no-repeat;
}

.btn-slide-prev,
.btn-slide-next {
  content: "";
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
  width: 54px;
  height: 54px;
}
@media (max-width: 1023.98px) {
  .btn-slide-prev,
  .btn-slide-next {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 767.98px) {
  .btn-slide-prev,
  .btn-slide-next {
    width: 34px;
    height: 34px;
  }
}

.hidden {
  display: none;
}

.dropdown-items__content {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  position: relative;
  z-index: 15;
}
.dropdown-items__btn {
  color: #303030;
  margin-right: 60px;
  background: transparent;
  padding: 5px;
  padding: 0 16px;
  width: 162px;
  position: relative;
}
.dropdown-items__btn::before {
  content: "";
  background: url("../img/icons/geo.svg") 0 0/contain no-repeat;
  width: 12px;
  height: 12px;
  top: 1px;
  left: 2px;
  position: absolute;
}
.dropdown-items__btn::after {
  content: "";
  background: url("../img/other-icon/arrow-down.svg") 0 0/contain no-repeat;
  width: 12px;
  height: 12px;
  top: 5px;
  right: -8px;
  position: absolute;
}
@media (max-width: 1200px) {
  .dropdown-items__btn::after {
    width: 0;
  }
}
.dropdown-items__btn:hover {
  cursor: pointer;
  transition: all 0.4s ease-in 0s;
}
.dropdown-items__btn:hover::before {
  background: url("../img/icons/geo-late.svg") 0 0/contain no-repeat;
}
@media (max-width: 1200px) {
  .dropdown-items__btn {
    margin-right: 30px;
  }
}
@media (max-width: 539.98px) {
  .dropdown-items__btn {
    margin-right: 0px;
    display: block;
  }
}
.dropdown-items__list {
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  padding: 24px 28px;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 220px;
  z-index: 15;
}
.dropdown-items__item {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
  padding: 10px;
  cursor: pointer;
}
.dropdown-items__item:hover {
  background: #f8f8f8;
  width: 100%;
}

.dropdown-items__list--visible {
  display: block;
}

.dropdown-items__btn--active {
  outline: none;
}

@media (max-width: 1200px) {
  .nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.8);
    padding: 150px 30px 30px 40px;
    transition: top 0.7s ease 0s;
    overflow: auto;
    z-index: 13;
  }
  .nav::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 12;
  }
  .nav._active {
    top: 0;
  }
}

.menu__icon {
  display: none;
}
@media (max-width: 1200px) {
  .menu__icon {
    position: relative;
    top: 0px;
    right: 0px;
    display: block;
    width: 45px;
    height: 3.84px;
    z-index: 15;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
    background-color: #303030;
    position: absolute;
    width: 100%;
    height: 3px;
  }
  .menu__icon::before {
    top: 10px;
  }
  .menu__icon::after {
    bottom: 10px;
  }
  .menu__icon span {
    position: absolute;
    background-color: #303030;
    width: 100%;
    left: 0px;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
    background-color: #303030;
    background-color: #f0f0f0;
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
    transition: all 0.3s ease 0s;
    background-color: #303030;
    background-color: #f0f0f0;
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    transition: all 0.3s ease 0s;
    background-color: #303030;
    background-color: #f0f0f0;
  }
}

.categories__container {
  margin-bottom: 120px;
}
@media (max-width: 767.98px) {
  .categories__container {
    margin-bottom: 70px;
  }
}
.categories__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.categories__item {
  flex: 1 1 15%;
  transition: all 0.3s ease-in 0s;
  min-width: 180px;
  height: 100%;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #f8f8f8;
}
.categories__item:hover img {
  transform: scale(1.2);
}
.categories__content {
  padding: 60px 36px 25px 36px;
}
.categories__picture {
  margin-bottom: 30px;
  flex-grow: 1;
}
.categories__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #303030;
  align-items: flex-end;
}

.swiper-pagination-bullet {
  border: 1px solid #000;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  background: #000;
}
.swiper-pagination-bullet:not(:last-child) {
  margin-right: 4px;
}
.swiper-pagination-bullet:hover {
  background: #000;
}

.sales__container {
  position: relative;
  margin-bottom: 120px;
}
.sales__block-top {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.sales__sort {
  display: flex;
  overflow: hidden;
  gap: 8px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 36px;
  max-width: 470px;
}
.sales__link {
  padding: 13px 30px;
  border-radius: 21px;
  background: #f0f0f0;
}
.sales__link a {
  color: #303030;
}
@media (max-width: 767.98px) {
  .sales__link {
    padding: 10px 24px;
  }
}
.sales__buttons-slider {
  position: relative;
  max-width: 200px;
}
.sales__btn-prev {
  top: -79px;
  right: 80px;
}
@media (max-width: 1023.98px) {
  .sales__btn-prev {
    top: -76px;
    right: 73px;
  }
}
@media (max-width: 767.98px) {
  .sales__btn-prev {
    top: -72px;
    right: 65px;
  }
}
.sales__btn-next {
  top: -53px;
  right: 20px;
}
@media (max-width: 767.98px) {
  .sales__btn-next {
    top: -54px;
    right: 20px;
  }
}
.sales__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .sales__items {
    justify-content: center;
  }
}
.sales__item {
  display: flex;
  flex: 0 1 23%;
  min-width: 300px;
  height: 100%;
  flex-direction: column;
  text-align: center;
  border: 1px solid #f8f8f8;
  padding: 16px 24px 26px;
}
@media (max-width: 1200px) {
  .sales__item {
    flex: 1 23%;
  }
}

.link-active {
  background: #303030;
}
.link-active a {
  color: #ffffff;
}

.item__card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.item__img {
  width: 200px;
  height: 200px;
}
.item__pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 36px;
}
.item .item__circle-1,
.item .item__circle-2,
.item .item__circle-3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #000;
}
.item .item__circle-1 {
  background-color: #000;
}
.item__data {
  text-align: left;
}
.item__data::after {
  content: "";
}
.item__block {
  display: flex;
}
.item__label-sale {
  display: inline-block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  background-color: #5b8a8f;
  border-radius: 15px;
  padding: 4px 8px;
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: 105;
}
.item__label-like a {
  display: inline-block;
  background: url("../img/other-icon/heart-l.svg") 0 0/contain no-repeat;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 0px;
  right: -7px;
  z-index: 155;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}
.item__label-like a:hover {
  background: url("../img/other-icon/heart-d.svg") 0 0/contain no-repeat;
}
.item__label-like a:active {
  background: url("../img/other-icon/heart-f.svg") 0 0/contain no-repeat;
}
.item__label-show {
  display: inline-block;
  background: url("../img/other-icon/eye.svg") 0 0/contain no-repeat;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 30px;
  right: -8px;
  z-index: 155;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}
.item__label-show:hover {
  background: url("../img/other-icon/eyes.svg") 0 0/contain no-repeat;
}
.item__price {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 16px;
}
.item__price span {
  text-decoration-line: line-through;
  color: #909090;
  font-size: 14px;
}
.item__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #303030;
}
.item__procents {
  display: inline-block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  background-color: #e24b33;
  border-radius: 15px;
  padding: 4px 8px;
  position: absolute;
  top: 245px;
  right: 0px;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 100px;
}

.ornamentals__container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
@media (max-width: 767.98px) {
  .ornamentals__container {
    margin-bottom: 70px;
  }
}
.ornamentals__block {
  flex: 1 1 30%;
  min-width: 400px;
  height: 100%;
  justify-content: space-between;
  display: flex;
  background: #f8f8f8;
  min-height: 315px;
}
@media (max-width: 424.98px) {
  .ornamentals__block {
    min-width: 300px;
  }
}
.ornamentals__subtitle {
  padding: 72px 0 0 26px;
  max-width: 255px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
  color: #303030;
  margin: 0 0px 19px 0;
}
@media (max-width: 424.98px) {
  .ornamentals__subtitle {
    padding: 68px 0 0 22px;
    font-size: 16px;
    font-weight: 500;
  }
}
.ornamentals__bg-sale {
  font-family: "Inter";
  font-weight: 600;
  font-size: 36px;
  line-height: 160%;
  color: #ffffff;
  padding: 3px 26px;
  margin-bottom: 45px;
  max-width: 194px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.ornamentals__bg-sale span {
  font-size: 24px;
}
@media (max-width: 767.98px) {
  .ornamentals__bg-sale {
    font-size: 32px;
  }
  .ornamentals__bg-sale span {
    font-size: 22px;
  }
}
@media (max-width: 424.98px) {
  .ornamentals__bg-sale {
    font-size: 28px;
  }
  .ornamentals__bg-sale span {
    font-size: 20px;
  }
}
.ornamentals__right-1 {
  background: url("../img/card/sale/sale1.png") -25px 0/cover no-repeat;
  width: 124px;
  height: 312px;
}
.ornamentals__right-2 {
  background: url("../img/card/sale/sale2.png") 0 70px/contain no-repeat;
  width: 230px;
  height: 312px;
}
.ornamentals__right-3 {
  background: url("../img/card/sale/sale3.png") 0 65px/contain no-repeat;
  width: 220px;
  height: 312px;
}

.bg-slae-1 {
  background: #5b8a8f;
}

.bg-slae-2 {
  background: #e46942;
}

.bg-slae-3 {
  background: #e1a661;
}

.product-day__container {
  position: relative;
  margin-bottom: 120px;
}
@media (max-width: 767.98px) {
  .product-day__container {
    margin-bottom: 70px;
  }
}
.product-day__title-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.product-day__btn-prev {
  top: 0;
  right: 70px;
}
@media (max-width: 1200px) {
  .product-day__btn-prev {
    top: 10px;
    right: 68px;
  }
}
.product-day__btn-next {
  top: 29px;
  right: 12px;
}
@media (max-width: 1200px) {
  .product-day__btn-next {
    top: 33px;
  }
}
@media (max-width: 767.98px) {
  .product-day__btn-next {
    top: 27px;
  }
}
.product-day__block {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 1230px) {
  .product-day__block {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.product-day__left {
  position: relative;
}
.product-day__picture {
  max-width: 550px;
}
.product-day__picture img {
  width: 100%;
}
.product-day__arrow-prev {
  content: "";
  background: url("../img/other-icon/btn-prev.svg") 0 0/contain no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}
.product-day__arrow-next {
  content: "";
  background: url("../img/other-icon/btn-next.svg") 0 0/contain no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
}
.label-day__new {
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  text-transform: capitalize;
  padding: 4px 11px;
  border-radius: 15px;
}

.new-lbl {
  background: #505050;
}

.hit-lbl {
  background: #e1a661;
}

.sale-lbl {
  background: #5b8a8f;
}

.right-items__stars {
  display: flex;
  gap: 10px;
  margin-bottom: 42px;
}
.right-items__stars span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
.right-items__title {
  font-family: "Prata";
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .right-items__title {
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
  }
}
.right-items__article {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #f8f8f8;
  margin-bottom: 2px;
}
.right-items__prices {
  display: flex;
  justify-content: space-between;
  column-gap: 85px;
  border-bottom: 1px solid #909090;
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .right-items__prices {
    flex-wrap: wrap;
  }
}
.right-items__price {
  position: relative;
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #303030;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.right-items__price span {
  text-decoration-line: line-through;
  color: #909090;
}
.right-items__procents {
  display: flex;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  background-color: #e24b33;
  border-radius: 15px;
  padding: 4px 8px;
  position: absolute;
  left: 220px;
}
@media (max-width: 580.98px) {
  .right-items__procents {
    top: 0px;
  }
}
.right-items__times {
  background: #f5f5f5;
  padding: 12px 14px;
  margin-bottom: 26px;
}
.colors__text {
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 16px;
}
.colors__items-circle {
  display: flex;
  gap: 8px;
  margin-bottom: 30px;
}
.colors__item-1 {
  background: #d9d9d9;
}
.colors__item-2 {
  background: #f1cb7e;
}
.colors__item-3 {
  background: #ea8c48;
}
.colors__item-4 {
  background: #a7e492;
}
.colors__item-1 {
  background: url("../img/other-icon/color-1.png") 0 0/contain no-repeat;
}
.colors__item-2 {
  background: url("../img/other-icon/color-2.png") 0 0/contain no-repeat;
}
.colors__item-3 {
  background: url("../img/other-icon/color-3.png") 0 0/contain no-repeat;
}
.colors__item-4 {
  background: url("../img/other-icon/color-4.png") 0 0/contain no-repeat;
}
.colors__item-1, .colors__item-2, .colors__item-3, .colors__item-4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.colors__item-1:hover, .colors__item-2:hover, .colors__item-3:hover, .colors__item-4:hover {
  border: 1px solid #303030;
  border-radius: 50%;
}
.colors__item-1:active, .colors__item-2:active, .colors__item-3:active, .colors__item-4:active {
  border: 1px solid #000;
  border-radius: 50%;
}

.sizes__text {
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 16px;
}
.sizes__list {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .sizes__list {
    flex-wrap: wrap;
  }
}
.sizes__choice {
  padding: 9px 11px;
  border: 1px solid #909090;
  color: #303030;
  transition: all 0.3s ease-in 0s;
  cursor: pointer;
  min-width: 50px;
  text-align: center;
}
.sizes__choice:hover {
  border: 1px solid #303030;
}
.sizes__choice:active {
  color: #ffffff;
  background: #303030;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 767.98px) {
  .btn-block {
    flex-wrap: wrap;
  }
}
.btn-block__buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.btn-block__cart {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #303030;
  padding: 21px 150px;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  transition: all 0.3s ease-in 0s;
  margin-bottom: 10px;
}
.btn-block__cart:hover {
  background: #505050;
  color: #ffffff;
}
.btn-block__cart:active {
  background: #000;
}
@media (max-width: 767.98px) {
  .btn-block__cart {
    padding: 21px 100px;
  }
}
.btn-block__pay {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-wrap: nowrap;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #303030;
  background: #ffffff;
  padding: 20px 56px;
  justify-content: center;
  border: 1px solid #303030;
  cursor: pointer;
  max-width: 400px;
  transition: all 0.3s ease-in 0s;
}
.btn-block__pay:hover {
  background: #303030;
  color: #ffffff;
}
.btn-block__pay:active {
  background: #000;
}
.btn-block__data {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.btn-block__liked {
  display: inline-block;
  background: url("../img/other-icon/heart-l.svg") 0 0/contain no-repeat;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.3s ease-in 0s;
}
.btn-block__liked:hover {
  background: url("../img/other-icon/heart-d.svg") 0 0/contain no-repeat;
}
.btn-block__liked:active {
  background: url("../img/other-icon/heart-f.svg") 0 0/contain no-repeat;
}
.btn-block__compare {
  display: inline-block;
  background: url("../img/other-icon/compare.svg") 0 0/contain no-repeat;
  padding-left: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}
.btn-block__compare:hover {
  background: url("../img/icons/chart.svg") 0 0/contain no-repeat;
}
.btn-block__compare:active {
  background: url("../img/icons/chart.svg") 0 0/contain no-repeat;
}
.btn-block__share {
  display: inline-block;
  background: url("../img/other-icon/share-one.svg") 0 0/contain no-repeat;
  padding-left: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}
.btn-block__share:hover {
  background: url("../img/other-icon/share-one.svg") 0 0/contain no-repeat;
}
.btn-block__share:active {
  background: url("../img/other-icon/share-one.svg") 0 0/contain no-repeat;
}

.times {
  display: flex;
  gap: 9px;
}
.times span {
  display: flex;
  align-items: center;
}
.times__hours, .times__minutes, .times__seconds {
  border: 1px solid #d0d0d0;
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
.article__container {
  padding-bottom: 140px;
}
.article__block-title {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.article__link-read {
  display: flex;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
  vertical-align: bottom;
  align-items: center;
  padding-right: 30px;
  gap: 10px;
  transition: all 0.3s ease-in 0s;
}
.article__link-read::after {
  content: "";
  background: url("../img/other-icon/arrow.svg") 0px -1px/contain no-repeat;
  width: 26px;
  height: 8px;
  z-index: 10;
}
.article__link-read:hover::after {
  background: url("../img/other-icon/arrow.svg") 5px -1px/contain no-repeat;
}
.article__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.article__item {
  flex: 1 1 23%;
  min-width: 310px;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023.98px) {
  .article__item {
    align-items: center;
  }
}
.article__img {
  width: 310px;
  height: 381px;
  margin-bottom: 14px;
}
.article__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #909090;
  margin-bottom: 14px;
}
.article__subtitle {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}

/*# sourceMappingURL=style.css.map */
