.categories {
  &__container {
    margin-bottom: 120px;
    @media (max-width: 767.98px) {
      margin-bottom: 70px;
    }
  }
  // .categories__title
  &__title {
  }

  // .categories__items
  &__items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  // .categories__item
  &__item {
    flex: 1 1 15%;
    transition: all 0.3s ease-in 0s;
    min-width: 180px;
    height: 100%;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $backgroundColor;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  // .categories__content
  &__content {
    padding: 60px 36px 25px 36px;
  }

  // .categories__picture
  &__picture {
    margin-bottom: 30px;
    flex-grow: 1;
  }

  // .categories__text
  &__text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: $mainColor;
    align-items: flex-end;
  }
}
