.product-day {
  // .product-day__container

  &__container {
  }

  // .product-day__title-block

  &__title-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  // .product-day__title

  &__title {
  }

  // .product-day__arrow

  &__arrow {
  }

  // .product-day__btn

  &__btn {
  }

  // .product-day__block
  &__block {
    display: flex;
    gap: 100px;
    justify-content: space-between;
  }

  // .product-day__left

  &__left {
  }

  // .product-day__label

  &__label {
  }

  // .product-day__picture

  &__picture {
  }

  // .product-day__btn-arrow

  &__btn-arrow {
  }

  // .product-day__right
  &__right {
  }
}

.label-day {
  // .label-day__new

  &__new {
    display: inline-block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: $standart;
    text-transform: capitalize;
    padding: 4px 11px;
    border-radius: 15px;
  }
}
.new-lbl {
  background: $hoverBtn;
}
.hit-lbl {
  background: $colorProcentsLite;
}
.sale-lbl {
  background: $colorSale;
}
.right-items {
  // .right-items__stars
  &__stars {
  }

  // .right-items__title
  &__title {
    font-family: "Prata";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: $mainColor;
    margin-bottom: 20px;
  }

  // .right-items__article
  &__article {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $backgroundColor;
    margin-bottom: 2px;
  }

  // .right-items__content
  &__content {
  }

  // .right-items__prices
  &__prices {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    border-bottom: 1px solid $colorLate;
    margin-bottom: 30px;
  }

  // .right-items__price
  &__price {
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: $mainColor;
    & span {
      text-decoration-line: line-through;
      color: $colorLate;
    }
  }

  // .right-items__times

  &__times {
    background: $underCover;
    padding: 12px 14px;
    margin-bottom: 20px;
  }

  // .right-items__colors

  &__colors {
  }

  // .right-items__sizes

  &__sizes {
  }

  // .right-items__buttons

  &__buttons {
  }
}
.colors {
  // .colors__text
  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: $mainColor;
    margin-bottom: 16px;
  }

  &__items-circle {
    display: flex;
    gap: 8px;
  }
  // .colors__item-1
  &__item-1 {
    width: 24px;
    height: 24px;
    background: $circleClrFrst;
    border-radius: 50%;
  }

  // .colors__item-2

  &__item-2 {
    width: 24px;
    height: 24px;
    background: $circleClrFrst;
    border-radius: 50%;
  }

  // .colors__item-3

  &__item-3 {
    width: 24px;
    height: 24px;
    background: $circleClrFrst;
    border-radius: 50%;
  }

  // .colors__item-4

  &__item-4 {
    width: 24px;
    height: 24px;
    background: $circleClrFrst;
    border-radius: 50%;
  }
}
.sizes {
  // .sizes__text

  &__text {
  }

  // .sizes__list

  &__list {
  }

  // .sizes__choice

  &__choice {
  }
}
.btn-block {
  // .btn-block__buttons

  &__buttons {
  }

  // .btn-block__cart

  &__cart {
  }

  // .btn-block__pay

  &__pay {
  }

  // .btn-block__data

  &__data {
  }

  // .btn-block__liked

  &__liked {
    display: inline-block;
    background: url("../img/other-icon/heart-l.svg") 0 0 / contain no-repeat;
    width: 20px;
    height: 18px;
    //position: absolute;
    //top: 0px;
    //right: -7px;
    z-index: 155;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/other-icon/heart-d.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/other-icon/heart-f.svg") 0 0 / contain no-repeat;
    }
  }

  // .btn-block__compare

  &__compare {
    display: inline-block;
    background: url("../img/other-icon/compare.svg") 0 0 / contain no-repeat;
    width: 20px;
    height: 18px;
    //position: absolute;
    //top: 0px;
    //right: -7px;
    z-index: 155;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/icons/chart.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/icons/chart.svg") 0 0 / contain no-repeat;
    }
  }

  // .btn-block__share

  &__share {
    display: inline-block;
    background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    width: 20px;
    height: 18px;
    //position: absolute;
    //top: 0px;
    //right: -7px;
    z-index: 155;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    }
  }
}
