.product-day {
  // .product-day__container

  &__container {
    position: relative;
    margin-bottom: 120px;
    @media (max-width: 767.98px) {
      margin-bottom: 70px;
    }
  }

  // .product-day__title-block
  &__title-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  // .product-day__title
  &__title {
  }

  // .product-day__arrow
  &__arrow {
  }

  // .product-day__btn
  &__btn-prev {
    top: 0;
    right: 70px;
    @media (max-width: 1200px) {
      top: 10px;
      right: 68px;
    }
  }

  &__btn-next {
    top: 29px;
    right: 12px;
    @media (max-width: 1200px) {
      top: 33px;
    }
    @media (max-width: 767.98px) {
      top: 27px;
    }
  }

  // .product-day__block
  &__block {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    @media (max-width: 1230px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  // .product-day__left
  &__left {
    position: relative;
  }

  // .product-day__label
  &__label {
  }

  // .product-day__picture
  &__picture {
    max-width: 550px;
    & img {
      width: 100%;
    }
  }

  // .product-day__btn-arrow
  &__btn-arrow {
  }

  &__arrow-prev {
    content: "";
    background: url("../img/other-icon/btn-prev.svg") 0 0 / contain no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
  }

  &__arrow-next {
    content: "";
    background: url("../img/other-icon/btn-next.svg") 0 0 / contain no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -16px;
  }

  // .product-day__right
  &__right {
  }
}

.label-day {
  // .label-day__new
  &__new {
    display: inline-block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: $standart;
    text-transform: capitalize;
    padding: 4px 11px;
    border-radius: 15px;
  }
}

.new-lbl {
  background: $hoverBtn;
}

.hit-lbl {
  background: $colorProcentsLite;
}

.sale-lbl {
  background: $colorSale;
}

.right-items {
  // .right-items__stars
  &__stars {
    display: flex;
    gap: 10px;
    margin-bottom: 42px;
    & span {
      font-family: "Inter";
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $mainColor;
    }
  }

  // .right-items__title
  &__title {
    font-family: "Prata";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: $mainColor;
    margin-bottom: 20px;
    @media (max-width: 767.98px) {
      display: flex;
      flex-wrap: wrap;
      font-size: 26px;
    }
  }

  // .right-items__article
  &__article {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $colorLate;
    margin-bottom: 2px;
    @media (max-width: 767.98px) {
      margin-bottom: 12px;
    }
  }

  // .right-items__content
  &__content {
  }

  // .right-items__prices
  &__prices {
    display: flex;
    justify-content: space-between;
    column-gap: 85px;
    border-bottom: 1px solid $colorLate;
    margin-bottom: 30px;
    @media (max-width: 767.98px) {
      flex-wrap: wrap;
    }
  }

  // .right-items__price
  &__price {
    position: relative;
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: $mainColor;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & span {
      text-decoration-line: line-through;
      color: $colorLate;
      margin-left: 10px;
    }
  }

  &__procents {
    display: flex;
    font-family: "Inter";
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: $standart;
    background-color: $colorProcents;
    border-radius: 15px;
    padding: 4px 8px;
    position: absolute;
    left: 220px;
    @media (max-width: 580.98px) {
      top: 0px;
    }
  }

  // .right-items__times
  &__times {
    background: $underCover;
    padding: 12px 14px;
    margin-bottom: 26px;
  }

  // .right-items__colors
  &__colors {
  }

  // .right-items__sizes
  &__sizes {
  }

  // .right-items__buttons

  &__buttons {
  }
}

.colors {
  // .colors__text
  &__text {
    font-family: "Inter";
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: $mainColor;
    margin-bottom: 16px;
  }

  &__items-circle {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
  }

  // .colors__item-1
  &__item-1 {
    background: $circleClrFrst;
  }

  // .colors__item-2
  &__item-2 {
    background: #f1cb7e;
  }

  // .colors__item-3
  &__item-3 {
    background: #ea8c48;
  }

  // .colors__item-4
  &__item-4 {
    background: #a7e492;
  }

  &__item-1 {
    background: url("../img/other-icon/color-1.png") 0 0 / contain no-repeat;
  }
  &__item-2 {
    background: url("../img/other-icon/color-2.png") 0 0 / contain no-repeat;
  }
  &__item-3 {
    background: url("../img/other-icon/color-3.png") 0 0 / contain no-repeat;
  }
  &__item-4 {
    background: url("../img/other-icon/color-4.png") 0 0 / contain no-repeat;
  }

  &__item-1,
  &__item-2,
  &__item-3,
  &__item-4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    &:hover {
      border: 1px solid $mainColor;
      border-radius: 50%;
    }
    &:active {
      border: 1px solid $colorActive;
      border-radius: 50%;
    }
  }
}
.sizes {
  // .sizes__text

  &__text {
    font-family: "Inter";
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: $mainColor;
    margin-bottom: 16px;
  }

  // .sizes__list
  &__list {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
    @media (max-width: 767.98px) {
      flex-wrap: wrap;
    }
  }

  // .sizes__choice
  &__choice {
    padding: 9px 11px;
    border: 1px solid $colorLate;
    color: $mainColor;
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
    min-width: 50px;
    text-align: center;
    &:hover {
      border: 1px solid $mainColor;
    }
    &:active {
      color: $standart;
      background: $mainColor;
    }
  }
}

.btn-block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @media (max-width: 767.98px) {
    flex-wrap: wrap;
  }
  // .btn-block__buttons
  &__buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  // .btn-block__cart
  &__cart {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $standart;
    background: $mainColor;
    padding: 21px 150px;
    cursor: pointer;
    max-width: 400px;
    width: 100%;
    transition: all 0.3s ease-in 0s;
    margin-bottom: 10px;
    &:hover {
      background: $hoverBtn;
      color: $standart;
    }
    &:active {
      background: $colorActive;
    }
    @media (max-width: 767.98px) {
      padding: 21px 100px;
    }
  }

  // .btn-block__pay
  &__pay {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $mainColor;
    background: $standart;
    padding: 20px 56px;
    justify-content: center;
    border: 1px solid $mainColor;
    cursor: pointer;
    max-width: 400px;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: $mainColor;
      color: $standart;
    }
    &:active {
      background: $colorActive;
    }
  }

  // .btn-block__data
  &__data {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  // .btn-block__liked
  &__liked {
    display: inline-block;
    background: url("../img/other-icon/heart-l.svg") 0 0 / contain no-repeat;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/other-icon/heart-d.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/other-icon/heart-f.svg") 0 0 / contain no-repeat;
    }
  }

  // .btn-block__compare
  &__compare {
    display: inline-block;
    background: url("../img/other-icon/compare.svg") 0 0 / contain no-repeat;
    padding-left: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/icons/chart.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/icons/chart.svg") 0 0 / contain no-repeat;
    }
  }

  // .btn-block__share
  &__share {
    display: inline-block;
    background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    padding-left: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    }
  }
}

.times {
  display: flex;
  gap: 9px;
  // .times__hours
  & span {
    display: flex;
    align-items: center;
  }
  &__hours,
  &__minutes,
  &__seconds {
    border: 1px solid #d0d0d0;
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $standart;
  }

  // .times__minutes

  &__minutes {
  }

  // .times__seconds

  &__seconds {
  }
}
