.product-day {
  // .product-day__container

  &__container {
    position: relative;
  }

  // .product-day__title-block

  &__title-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  // .product-day__title

  &__title {
  }

  // .product-day__arrow

  &__arrow {
  }

  // .product-day__btn
  &__btn-prev {
    top: 0;
    right: 72px;
    @media (max-width: 1200px) {
      top: 10px;
      right: 68px;
    }
  }
  &__btn-next {
    top: 29px;
    right: 12px;
    @media (max-width: 1200px) {
      top: 33px;
    }
    @media (max-width: 767.98px) {
      top: 27px;
    }
  }

  // .product-day__block
  &__block {
    display: flex;
    gap: 100px;
    justify-content: space-between;
  }

  // .product-day__left

  &__left {
  }

  // .product-day__label

  &__label {
  }

  // .product-day__picture

  &__picture {
  }

  // .product-day__btn-arrow

  &__btn-arrow {
  }

  // .product-day__right
  &__right {
  }
}

.label-day {
  // .label-day__new

  &__new {
    display: inline-block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: $standart;
    text-transform: capitalize;
    padding: 4px 11px;
    border-radius: 15px;
  }
}
.new-lbl {
  background: $hoverBtn;
}
.hit-lbl {
  background: $colorProcentsLite;
}
.sale-lbl {
  background: $colorSale;
}
.right-items {
  // .right-items__stars
  &__stars {
  }

  // .right-items__title
  &__title {
    font-family: "Prata";
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: $mainColor;
    margin-bottom: 20px;
  }

  // .right-items__article
  &__article {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $backgroundColor;
    margin-bottom: 2px;
  }

  // .right-items__content
  &__content {
  }

  // .right-items__prices
  &__prices {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    border-bottom: 1px solid $colorLate;
    margin-bottom: 30px;
  }

  // .right-items__price
  &__price {
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: $mainColor;
    & span {
      text-decoration-line: line-through;
      color: $colorLate;
    }
  }

  // .right-items__times

  &__times {
    background: $underCover;
    padding: 12px 14px;
    margin-bottom: 20px;
  }

  // .right-items__colors

  &__colors {
  }

  // .right-items__sizes

  &__sizes {
  }

  // .right-items__buttons

  &__buttons {
  }
}

.colors {
  // .colors__text
  &__text {
    font-family: "Inter";
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: $mainColor;
    margin-bottom: 16px;
  }

  &__items-circle {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
  }

  // .colors__item-1
  &__item-1 {
    background: $circleClrFrst;
  }

  // .colors__item-2
  &__item-2 {
    background: #f1cb7e;
  }

  // .colors__item-3
  &__item-3 {
    background: #ea8c48;
  }

  // .colors__item-4
  &__item-4 {
    background: #a7e492;
  }

  &__item-1,
  &__item-2,
  &__item-3,
  &__item-4 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    //z-index: 1;
    &::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: $circleClrFrst;
      //z-index: 0;
    }
  }
}
.sizes {
  // .sizes__text

  &__text {
    font-family: "Inter";
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: $mainColor;
    margin-bottom: 16px;
  }

  // .sizes__list

  &__list {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
  }

  // .sizes__choice

  &__choice {
    padding: 9px 11px;
    border: 1px solid $colorLate;
    color: $mainColor;
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
    min-width: 50px;
    text-align: center;
    &:hover {
      border: 1px solid $mainColor;
    }
    &:active {
      color: $standart;
      background: $mainColor;
    }
  }
}
.btn-block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  // .btn-block__buttons

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  // .btn-block__cart

  &__cart {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $standart;
    background: $mainColor;
    padding: 21px 150px;
    cursor: pointer;
    max-width: 400px;
    transition: all 0.3s ease-in 0s;
    margin-bottom: 10px;
  }

  // .btn-block__pay

  &__pay {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $mainColor;
    background: $standart;
    padding: 20px 56px;
    justify-content: center;
    border: 1px solid $mainColor;
    cursor: pointer;
    max-width: 400px;
    transition: all 0.3s ease-in 0s;
  }

  // .btn-block__data

  &__data {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  // .btn-block__liked

  &__liked {
    display: inline-block;
    background: url("../img/other-icon/heart-l.svg") 0 0 / contain no-repeat;
    width: 20px;
    height: 18px;
    //position: absolute;
    //top: 0px;
    //right: -7px;
    z-index: 155;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/other-icon/heart-d.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/other-icon/heart-f.svg") 0 0 / contain no-repeat;
    }
  }

  // .btn-block__compare

  &__compare {
    display: inline-block;
    background: url("../img/other-icon/compare.svg") 0 0 / contain no-repeat;
    width: 20px;
    height: 18px;
    //position: absolute;
    //top: 0px;
    //right: -7px;
    z-index: 155;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/icons/chart.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/icons/chart.svg") 0 0 / contain no-repeat;
    }
  }

  // .btn-block__share

  &__share {
    display: inline-block;
    background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    width: 20px;
    height: 18px;
    //position: absolute;
    //top: 0px;
    //right: -7px;
    z-index: 155;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/other-icon/share-one.svg") 0 0 / contain no-repeat;
    }
  }
}
