.mySlides {
  display: none;
}

.slider {
  background: $backgroundColor;
  // .slider__container
  &__container {
    position: relative;
  }

  // .slider__content
  &__content {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    position: relative;
  }

  // .slider__block-left
  &__block-left {
    padding-left: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // .slider__title
  &__title {
    font-family: "Prata";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: $mainColor;
    margin-bottom: 30px;
  }

  // .slider__subtitle
  &__subtitle {
    font-family: "Prata";
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: $mainColor;
    margin-bottom: 54px;
    text-transform: uppercase;
  }

  // .slider__button
  &__button {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $standart;
    background: $mainColor;
    padding: 20px 56px;
    cursor: pointer;
    max-width: 200px;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: $hoverBtn;
    }
    &:active {
      background: $colorActive;
    }
  }

  // .slider__block-right
  &__block-right {
  }

  // .slider__btn-prev
  &__btn-prev {
    content: "";
    position: absolute;
    top: 42.5%;
    left: 24px;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 0.3s ease-in 0s;
    background: url("../img/icons/btn-next.svg") 0 0 / contain no-repeat;
    transform: rotate(180deg);
    width: 54px;
    height: 54px;
    &:hover {
      background: url("../img/icons/btn-next-hover.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/icons/btn-next-active.svg") 0 0 / contain
        no-repeat;
    }
  }

  // .slider__btn-next
  &__btn-next {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
    background: url("../img/icons/btn-next.svg") 0 0 / contain no-repeat;
    width: 54px;
    height: 54px;
    &:hover {
      background: url("../img/icons/btn-next-hover.svg") 0 0 / contain no-repeat;
    }
    &:active {
      background: url("../img/icons/btn-next-active.svg") 0 0 / contain
        no-repeat;
    }
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  // .fade__image
  &__image {
    vertical-align: middle;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
