.mySlides {
  display: none;
}

.slider {
  background: $backgroundColor;
  min-width: 0;
  // .slider__container
  &__container {
    //position: relative;
    margin-bottom: 120px;
    @media (max-width: 767.98px) {
      margin-bottom: 70px;
    }
  }

  // .slider__content
  &__content {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    @media (max-width: 767.98px) {
      flex-direction: column-reverse;
      padding: 24px;
    }
    @media (max-width: 539.98px) {
      padding: 18px;
    }
  }

  // .slider__block-left
  &__block-left {
    padding-left: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 1200px) {
      padding-left: 70px;
    }
    @media (max-width: 539.98px) {
      padding-left: 0px;
    }
  }

  // .slider__title
  &__title {
    font-family: "Prata";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: $mainColor;
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 25px;
    }
    @media (max-width: 539.98px) {
      font-size: 16px;
      margin-bottom: 18px;
    }
  }

  // .slider__subtitle
  &__subtitle {
    font-family: "Prata";
    font-weight: 400;
    line-height: 1;
    color: $mainColor;
    margin-bottom: 54px;
    font-size: 50px;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      margin-bottom: 46px;
      font-size: 42px;
      line-height: 1.1;
    }
    @media (max-width: 1023.98px) {
      margin-bottom: 40px;
      font-size: 36px;
    }
    @media (max-width: 539.98px) {
      font-size: 22px;
    }
  }

  // .slider__button
  &__button {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $standart;
    background: $mainColor;
    padding: 20px 56px;
    cursor: pointer;
    max-width: 200px;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: $hoverBtn;
    }
    &:active {
      background: $colorActive;
    }
    @media (max-width: 1023.98px) {
      padding: 16px 48px;
    }
    @media (max-width: 539.98px) {
      padding: 14px 30px;
    }
  }

  // .slider__block-right
  &__block-right {
  }

  // .slider__btn-prev
  &__btn-prev {
    top: 42.5%;
    left: 24px;
    @media (max-width: 539.98px) {
      left: 10px;
    }
  }

  // .slider__btn-next
  &__btn-next {
    top: 50%;
    right: 24px;
    @media (max-width: 539.98px) {
      right: 10px;
    }
  }
}

//.fade {
//  animation-name: fade;
//  animation-duration: 1.5s;
//  // .fade__image
//  &__image {
//    vertical-align: middle;
//  }
//}

//@-webkit-keyframes fade {
//  from {
//    opacity: 0.4;
//  }
//  to {
//    opacity: 1;
//  }
//}

//@keyframes fade {
//  from {
//    opacity: 0.4;
//  }
//  to {
//    opacity: 1;
//  }
//}

.btn-slide-prev {
  background: url("../img/icons/btn-next.svg") 0 0 / contain no-repeat;
  transform: rotate(180deg);
  &:hover {
    background: url("../img/icons/btn-next-hover.svg") 0 0 / contain no-repeat;
  }
  &:active {
    background: url("../img/icons/btn-next-active.svg") 0 0 / contain no-repeat;
  }
}
.btn-slide-next {
  transform: translateY(-50%);
  background: url("../img/icons/btn-next.svg") 0 0 / contain no-repeat;
  &:hover {
    background: url("../img/icons/btn-next-hover.svg") 0 0 / contain no-repeat;
  }
  &:active {
    background: url("../img/icons/btn-next-active.svg") 0 0 / contain no-repeat;
  }
}

.btn-slide-prev,
.btn-slide-next {
  content: "";
  position: absolute;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
  width: 54px;
  height: 54px;
  @media (max-width: 1023.98px) {
    width: 44px;
    height: 44px;
  }
  @media (max-width: 767.98px) {
    width: 34px;
    height: 34px;
  }
}
