@import url("https://fonts.googleapis.com/css?family=Inter:300italic,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prata:regular&display=swap");

@import "null.scss";
@import "header.scss";
@import "main.scss";
@import "block.scss";
@import "dots-list.scss";
@import "slider.scss";
@import "selected.scss";
@import "burger.scss";
@import "categories.scss";
@import "sales.scss";
@import "ornamentals.scss";
@import "products.scss";
@import "article.scss";

@import "variables.scss";

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}
