$mainColor: #303030;
$mainColorLite: #a2a2a2;
$colorHoverDark: #f0f0f0;
$colorSale: #5b8a8f;
$colorProcents: #e24b33;
$colorProcentsLite: #e1a661;
$colorLate: #909090;
$backgroundColor: #f8f8f8;
$standart: #ffffff;
$colorCount: #e46942;
$hoverBtn: #505050;
